Source: qcom-fastcv-binaries
Maintainer: Pulkit Singh Tak <ptak@qti.qualcomm.com>
Uploaders:
 Loïc Minier <loic.minier@oss.qualcomm.com>,
Standards-Version: 4.6.2
Section: misc
Build-Depends:
 debhelper-compat (= 13),
 libfastrpc-dev,
 libglib2.0-dev,

Package: qcom-fastcv-binaries-dev
Architecture: arm64
Section: libdevel
Depends: ${misc:Depends}, qcom-fastcv-binaries1 (= ${binary:Version}),
Description: Qualcomm libfastcvopt - Development files
 Development files for Qualcomm fastcv library

Package: qcom-fastcv-binaries1
Architecture: arm64
Section: libs
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qualcomm libfastcvopt
 Qualcomm CPU and DSP optimized libs for running CV algorithms
