#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_strip:
	dh_strip -X/usr/lib/dsp/dsp/cdsp/cv/

# already run during proprietary build; currently not reincluded downstream as
# the file layout is different; could try resplitting the dwz data
override_dh_dwz:
	:

DEB_VERSION = $(shell dpkg-parsechangelog -S 'Version' | cut -d ':' -f 2)
execute_after_dh_builddeb:
	:
