#!/usr/bin/make -f

%:
	dh $@

override_dh_strip:
	dh_strip -X/usr/lib/dsp/dsp/cdsp/cv/

# already run during proprietary build; currently not reincluded downstream as
# the file layout is different; could try resplitting the dwz data
override_dh_dwz:
	:

